<header>
  <a href="/"><div class="header-logo">
    rails-practice
  </div></a>
  <ul class="header-menus">
    <li>ようこそRails練習場へ</li>
  </ul>
</header>
<img class="about-img" src="http://equallysimple.com/wp-content/uploads/2014/08/Ruby-on-Rails-Tutorial-e1409016392194.jpg">